body{
    font-family: 'Montserrat', serif;
    background-color: #F8F8FF;
}
.font-blue-appac{
    color:#0061AA;
}
.bg-blue-appac{
    background-color:#0061AA;
}
.bg-default-grey{
    background-color:#F8F8FF;
}