body {
    font-family: 'Montserrat', serif;
    background-color: #F8F8FF;
}

.font-blue-appac {
    color: #0061AA;
}

.bg-blue-appac {
    background-color: #0061AA;
}

.bg-default-grey{
    background-color:#F8F8FF;
}
.menu-grid{
    display: grid;
    grid-template-columns: repeat(2,minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
}
.menu-icon-size{
    font-size: 100px !important;
    font-weight: 100 !important;
}
.bg-green-appac {
    background-color: #00aa47;
}

.bg-default-grey {
    background-color: #F8F8FF;
}
input[type="radio"]:disabled {
    -webkit-appearance: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    padding: 0px;
    background-clip: content-box;
    border: 2px solid #bbbbbb;
    background-color: white;
    border-radius: 50%;
}
input[type="radio"]{
    -webkit-appearance: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    padding: 0px;
    background-clip: content-box;
    border: 2px solid #bbbbbb;
    background-color: white;
    border-radius: 50%;
}

input[type="radio"]:checked {
    background-color: #0061AA;
}